<footer class="footer has-background-link-light">
  <div class="content has-text-centered">

    <p><strong>Judge JS</strong> by <a href="https://github.com/yadavta" target="_blank" rel="noopener">Tanush
        Yadav</a>. Source code open-sourced on <a href="https://github.com/yadavta/judge.js" rel="noopener" target="_blank">Github</a>.</p>
  </div>
</footer>