<footer class="footer has-background-link-light">
  <div class="content has-text-centered">

    <p><strong>Judge JS</strong> by <a href="https://github.com/yadavta/judge.js" target="_blank" rel="noopener">Tanush
        Yadav</a>. Source code open-sourced.</p>
        
  </div>
</footer>