<meta charset="utf-8">
<title> Judge JS </title>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yadavta/judge.js@latest/public/bulma/css/bulma.min.css">
