<meta charset="UTF-8">
<title> Interlake Sharks </title>
<meta property="og:title" content="Judge JS" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://interlakesharks.org/" />
<meta property="og:description" content="Interlake Speech & Debate. Go Sharks!">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">