<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Judge JS </title>
<script>  src="https://unpkg.com/semantic-ui-react@2.0.3/dist/umd/semantic-ui-react.min.js" </script>
