<meta charset="UTF-8">
<title> Judge JS </title>
<meta property="og:title" content="Judge JS" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://judge-js.herokuapp.com/" />
<meta property="og:description" content="Judge JS: the simplest way for schools to internally manage tournaments.">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">