<div class="ui menu">
  <a class="active item" href="/"> Home </a>
  <a class="item" href="/about"> About </a>
  <a class="item" href="/create"> Create </a>
  <a class="item" href="/tournament"> Tournaments </a>
</div>

<style type="text/css">

  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

</style>
