<nav class="navbar is-primary" role="navigation" aria-label="Main Navigation Bar" style="padding-left:5rem; padding-right:5rem">
  <!--left side, always visible-->
  <div class="navbar-brand">
    <a class="navbar-item" href="https://judge-js.herokuapp.com">
      <img src="../public/mic.svg">
    </a>

    <!--three lines on mobile device to toggle brand-->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- the other actual navbar stuff -->
  <div class="navbar-menu">
    <!-- sticks to left side -->
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/tournaments">Tournaments</a>
      <a class="navbar-item" href="/create">Create</a>
      <a class="navbar-item" href="/calendar">Calendar</a>
    </div>
    <!-- sticks to the right side -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary"><strong>Sign Up</strong></a>
          <a class="button is-light" href="/login">Log In</a>
        </div>
      </div>
    </div>
  </div>
</nav>
