<div class="ui menu">
  <a class="active item" href="/"> Home </a>
  <a class="item" href="/about"> About </a>
  <a class="item" href="/create"> Create </a>
  <a class="item" href="/tournament"> Tournaments </a>
</div>

<style type = "text/css">
  .ui.menu {
    padding: 1em;
    margin: 0 auto;
  }
</style>
