<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../partials/header.ejs") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JudgeJS Homepage</title>
</head>

<body>
  <%- include("../../partials/privateNav.ejs") %>

    <div class="section" style="padding-left: 10rem; padding-right: 10em;">
      <div class="box">
        <!--div class="section"-->
          <div class="container">
            <h1 class="title is-2" style="text-align: center">Welcome!</h1>
          <!--/div-->
        </div>
      </div>
    </div>

    <%- include("../../partials/footer.ejs") %>
</body>

</html>