<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header.ejs") %>
    <script src="https://kit.fontawesome.com/c65a03b059.js" crossorigin="anonymous"></script>
</head>

<body>

  <%- include("../partials/nav.ejs") %>

    <div class="section" style="margin-left: 15rem; margin-right: 15rem">
      
      <div class="tile is-ancestor">
        <div class="tile is-4 is-parent">
          <div class="tile is-child card">
            <div class="card-content" href="/blog/post/1">
              <p class="title is-4">Article Name</p>
              <p>Author | Date</p>
            </div>
          </div>
        </div>

        <div class="tile is-4 is-parent">
          <div class="tile is-child box">
            <p>Article Name</p>
          </div>
        </div>

        <div class="tile is-4 is-parent">
          <div class="tile is-child box">
            <p>Article Name</p>
          </div>
        </div>
      </div>
      
      

    </div>

</body>

<%- include("../partials/footer.ejs") %>

</html>