<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>

<body>

  <input type="text" name="daterange" value="" />

  <button class="ui button" onclick="dateFinalier()"> Finalize Dates </button>

  <script>

    function dateFinalier() {

      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
      
      /*axios
  		.post("https://judge-js.herokuapp.com/create", {
  			tournamentName: 'Berkley',
  			schoolApproved: true,
  			tabroomName: "fancy prestigious annual tournament",
  		})
  		.then(response => (this.message = response))*/
    }

  </script>
</body>

</html>
