<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <style type = "text/css">

    .ui.form{
      margin-left: 20%;
      margin-right: 20%;
      padding: 2em;
    }

    .ui.fun{
      margin-left: 20%;
      margin-right: 20%;
      padding: 2em;
    }

    .ui.form .ui.checkbox {
      margin-right: 1em;
      margin-left: 1em;
    }

    .ui.form .ui.toggle.checkbox {
      margin-right: 1.5em;
      margin-left: 1.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }

    .ui.primary .button {
      margin-right: 1.5em;
      margin-left: 1.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }

    .ui.fun .ui.violet.button {}

  </style>

<!-- tournament creation form with user input -->
<form class="ui form" id="createTournamentForm">
<!-- get tournament names, both informal and formal -->
  <div class="fields">
    <div class="field">
     <label>Colloquial Tournament Name</label>
     <input type="text" id="informalName" placeholder="informal tourney name" size="30">
   </div>
   <div class="field">
     <label>Official Tabroom Name</label>
     <input type="text" id="formalName" placeholder="tab tourney name" size="60">
   </div>
  </div>


<!-- get tournament dates using calendar picker -->
  <div class="two fields">
    <div class="field">
      <label>Start date</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Start">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="End">
        </div>
      </div>
    </div>
  </div>

  <!-- select which circuit it is in -->
  <div class="inline field">
      <p>Applicable Circuits: </p>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" id="natCircuitCheckbox">
        <label>National Circuit</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" id="localCircuitCheckbox">
        <label>Local Circuit</label>
      </div>
  </div>

<!-- if tourney is school approved + if going to tourney as Independent -->
  <div class="inline field">
      <p>Formal Classifications: </p>
      <div class="ui toggle checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>School Approved?</label>
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>As Independent?</label>
      </div>
  </div>

<!-- judges needed -->
  <div class="inline field">
      <p>Target Judges: </p>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Parents and Volunteers</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Hires</label>
      </div>
  </div>

<!-- select events attending -->
  <div class="field">
    <label>Events Attending</label>
    <select multiple="" class="ui dropdown">
     <option value="">Select Events</option>
     <option value="ld">Lincoln Douglas</option>
     <option value="cx">Policy</option>
     <option value="pf">Public Forum</option>
     <option value="cong">Congress</option>
     <option value="speech">Speech</option>
   </select>
  </div>

  <!-- form validation button
  <button class = "ui primary button" id="validationButton"> Validate Inputs </button>-->
</form>

<!-- submit button; note that this uses basic html/jquery, not semantic UI. semantic's form plugin is used only for validation and UI -->
<div class = "ui fun">
  <button class = "ui violet button" id="submitButton"> Create Tournament </button>
</div>

  <script>
  // neccessary bits for form functionality
    //calendar date picker

    $('#rangestart').calendar({
      type: 'date',
      endCalendar: $('#rangeend')
    });

    $('#rangeend').calendar({
      type: 'date',
      startCalendar: $('#rangestart')
    });

    //circuit checkboxes
    $('.ui.checkbox')
      .checkbox();

    //multiple select
    $('select.dropdown')
      .dropdown()
    ;

    // setting up basic variables
    let userTournamentName = "";
    let userTabroomName = "";
    let userCircuits = [];
    let userSchoolApproved = false;
    let userJudges = [];

    // getting user inptu via jquery
    $('#submitButton').click(function() {
      userTournamentName = $('#informalName').val();
      userTabroomName = $('#formalName').val();

      if($('#natCircuitCheckbox').prop('checked')) {
        userCircuits.push("national");
      }
      if ($('#localCircuitCheckbox').prop('checked')) {
        userCircuits.push("local");
      }

    });

      /*axios
  		.post("https://judge-js.herokuapp.com/create", {
  			tournamentName: ,
  			schoolApproved: ,
  			tabroomName: ,
  		})
  		.then(response => (this.message = response))*/

  </script>
</body>

</html>
