<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<!-- tournament creation form with user input -->
<div class="ui form">
<!-- get tournament names, both informal and formal -->
  <div class="fields">
    <div class="field">
     <label>Colluqial Tournament Name</label>
     <input type="text" placeholder="informal tourney name">
   </div>
   <div class="field">
     <label>Official Tabroom name</label>
     <input type="text" placeholder="tab tourney name">
   </div>
  </div>
<!-- get tournament dates using calendar picker -->
  <div class="two fields">
    <div class="field">
      <label>Start date</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Start">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="End">
        </div>
      </div>
    </div>
  </div>
<!-- select which circuit it is in !-->
  <div class="field">
    <label>Circuits</label>
    <select multiple="" class="ui dropdown">
      <option value="">Select Circuit</option>
      <option value="national">National Circuit</option>
      <option value="local"> Local Circuit </option>
    </select>
  </div>
</div>

  <button class="ui button"> Finalize Dates </button>

  <script>

    $('#rangestart').calendar({
      type: 'date',
      endCalendar: $('#rangeend')
    });

    $('#rangeend').calendar({
      type: 'date',
      startCalendar: $('#rangestart')
    });
      /*axios
  		.post("https://judge-js.herokuapp.com/create", {
  			tournamentName: 'Berkley',
  			schoolApproved: true,
  			tabroomName: "fancy prestigious annual tournament",
  		})
  		.then(response => (this.message = response))*/

  </script>
</body>

</html>
