<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <style type = "text/css">

    .ui.form{
      margin-left: 20%;
      margin-right: 20%;
      padding: 2em;
    }

  </style>

<!-- tournament creation form with user input -->
<div class="ui form">
<!-- get tournament names, both informal and formal -->
  <div class="fields">
    <div class="field">
     <label>Colluqial Tournament Name</label>
     <input type="text" placeholder="informal tourney name">
   </div>
   <div class="field">
     <label>Official Tabroom name</label>
     <input type="text" placeholder="tab tourney name">
   </div>
  </div>


<!-- get tournament dates using calendar picker -->
  <div class="two fields">
    <div class="field">
      <label>Start date</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Start">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="End">
        </div>
      </div>
    </div>
  </div>

  <!-- select which circuit it is in -->
  <div class="inline field">
      <p> Please select the applicable circuits below: </p>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>National Circuit</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Local Circuit</label>
      </div>
    </div>

<!-- select events attending -->
  <div class="field">
    <label>Events Attending</label>
    <select multiple="" class="ui dropdown">
     <option value="">Select Events</option>
     <option value="ld">Lincoln Douglas</option>
     <option value="cx">Policy</option>
     <option value="pf">Public Forum</option>
     <option value="cong">Congress</option>
     <option value="speech">Speech</option>
   </select>
  </div>

</div>



  <script>
  // neccessary bits for form functionality
    //calendar date picker
    $('#rangestart').calendar({
      type: 'date',
      endCalendar: $('#rangeend')
    });

    $('#rangeend').calendar({
      type: 'date',
      startCalendar: $('#rangestart')
    });

    //circuit checkboxes
    $('.ui.checkbox')
      .checkbox()
    ;

    //multiple select
    $('select.dropdown')
      .dropdown()
    ;

      /*axios
  		.post("https://judge-js.herokuapp.com/create", {
  			tournamentName: 'Berkley',
  			schoolApproved: true,
  			tabroomName: "fancy prestigious annual tournament",
  		})
  		.then(response => (this.message = response))*/

  </script>
</body>

</html>
