<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <script>
  const urlParams = new URLSearchParams(window.location.search);
  const redirectedTournamentId = urlParams.get('tournamentId');
  console.log('will retrieve information for the following tournament: ' + redirectedTournamentId);

  axios.get('api/tournaments/event', {
    tournamentId: redirectedTournamentId
  }).then(function(result){
    console.log(result);
  });

  </script>
</body>

</html>
