<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>

  <%- include ("../partials/nav.ejs") %>
  
  <button class="ui button" onclick="myFunction()">
  
  <script>
    function myFunction() {
      axios.post("/testing")
      .then(function(result) {
        console.log(result);
      });
    }
    
  </script>
  
</body>

<%- include ("../partials/footer.ejs") %>

</html>
