<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include("../partials/nav.ejs") %>

    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Interlake Speech & Debate</p>
          <p class="subtitle">Go Sharks!</p>
        </div>
      </div>
    </section>

    <section class="section" style="padding-left: 5rem; padding-right: 5rem">
      <div class="columns">
        <div class="column is-half">
          <div class="block">
            <div class="card">
      
          </div>
        </div>
        <div class="column is-half">

        </div>
      </div>
    </section>

    <script>
  //style="background-image:url('https://cdn.discordapp.com/attachments/664680704835321876/815117849592463430/pexels-pixabay-2235.jpg')"
    </script>

</body>

<%- include ("../partials/footer.ejs") %>

</html>