<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="Mutorials"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://www.mutorials.org/"/>
  <meta property="og:image" content="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg"/>
  <meta property="og:description" content="Mutorials is a free, adaptive, web-based science trainer powered by a passionate and experienced team of students, with various fun and competitive game modes to enrich your learning!">
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include("../partials/nav.ejs") %>

    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Welcome to Judge JS</p>
          <p class="subtitle">The best way to internally manage debate tournaments.</p>
        </div>
      </div>
    </section>

    <section class="section" style="padding-left: 5rem; padding-right: 5rem">
      <div class="columns">
        <div class="column is-half">
          <div class="block">
            <div class="card">
              <div class="card-header">
                <div class="card-header-title">
                  <p class="strong">Intuitive Layouts</p>
                </div>
              </div>
              <div class="card-content">
                <p>Trying to get a snapshot of the season? Check out our calendar view. Trying to get the rundown of a
                  specific tournament? Check out our event view. Trying to see the specifics of every upcoming
                  tournament? Check out our table view.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">

        </div>
      </div>
    </section>

    <script>
  //style="background-image:url('https://cdn.discordapp.com/attachments/664680704835321876/815117849592463430/pexels-pixabay-2235.jpg')"
    </script>

</body>

<%- include ("../partials/footer.ejs") %>

</html>