<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>


<body>

  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron text-center">
  <div class="container">
    <h1>Testing Node.js</h1>
    <p>This is a sample Node application deployed. It's pretty cool.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
  </div>  
  
</body>
</html>
