<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>

  <%- include ("../partials/nav.ejs") %>
  
  
  <script>
    
  </script>
  
</body>

<%- include ("../partials/footer.ejs") %>

</html>
