<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>


<body>

  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron text-center">
  <div class="container">
    <h1> judge.js </h1>
    <p class="text-center"> The most efficient way for schools to connect with judges. </p>
  </div>
  </div>  
  
</body>

<%- include ("../partials/footer.ejs") %>

</html>
