<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
<form method="get" action="/login">
  <button type="submit">Log In</button>
</form>

<script>
axios.post(https://judge-js.herokuapp.com/api/auth).then(function(result){console.log(result)});
</script>

</body>
</html>
