<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.1/dist/socket.io.min.js"></script>
</head>
<body>
  <button class="button" onclick="addMessage()">Send Message</button>
  <script>
    var socket = io('https://judge-js.herokuapp.com/');
    
    const theMessage = "Hello World!";

    socket.on('chat message', function(msg){
      console.log(msg);
    });

    function addMessage() {
      socket.emit('chat message', theMessage);
    }
    

    
  </script>

</body>
</html>