<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>

<body>

	<%- include ("../partials/nav.ejs") %>

	<button class="ui button" onclick="tableUpdater()">
	  Update Table
	</button>

	 <table class="ui celled table" id="tournamentTable">
	  <thead>
		<tr><th>Name</th>
		<th>School Approved</th>
	  </tr></thead>
	  <tbody>
	  </tbody>
	</table>

    <script>

    function tableUpdater() {

    	console.log("hi");

		axios.post("https://judge-js.herokuapp.com/tournament")
		.then(function(result) {
			console.log(result);
			let i = 0;
			let appendable = "";
			let thisAppendable = "";
			while(i < result.data.length) {
				let tData = result.data[i];

				//school approved table column colors
				let approvedColor = 'class = "pink"';
				console.log(tData);
				if (tData.schoolApproved) {
					approvedColor = ' class = "green"';
				}

				thisAppendable = '<tr>' +  '<td data-label="Name">' + tData.tournamentName + '</td>' + '<td data-label="School Approved"' + approvedColor + '>'  + '</td>' + '</tr>';
				appendable += thisAppendable;
				i++;
			}
			$(document).ready(function() {
				$('#tournamentTable tbody').append(appendable);
			});
		});

    </script>
</body>

</html>
