<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
  
<body>

	<%- include ("../partials/nav.ejs") %>
	
	 <table class="ui celled table">
	  <thead>
		<tr><th>Name</th>
		<th>School Approved</th>
	  </tr></thead>
	  <tbody>
		<tr>
		  <td data-label="Name">James</td>
		  <td data-label="School Approved">24</td>
		  </tr>
		<tr>
		  <td data-label="Name">Jill</td>
		  <td data-label="School Approved">26</td>
		</tr>
	  </tbody>
	</table>
	
    <script>
	axios.post("https://judge-js.herokuapp.com/tournament")
	.then(function(result) {
		
	});	  
    </script>
</body>

</html>


<!-- [ { "_id": "berkley2021", "name": "Berkley", "tabroomName": "fancy prestigious annual tournament", "schoolApproved": true } ] -->
