<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
  
<body>

	<%- include ("../partials/nav.ejs") %>
	
	<button class="ui button" onclick="myFunction()"> 
	  Follow
	</button>
	
	 <table class="ui celled table" id="tournamentTable">
	  <thead>
		<tr><th>Name</th>
		<th>School Approved</th>
	  </tr></thead>
	  <tbody>
		<tr>
		  <td data-label="Name">James</td>
		  <td data-label="School Approved">24</td>
		  </tr>
		<tr>
		  <td data-label="Name">Jill</td>
		  <td data-label="School Approved">26</td>
		</tr>
	  </tbody>
	</table>
	
    <script>
    
    function myFunction() {
    
    	console.log("hi");
    
		axios.post("https://judge-js.herokuapp.com/tournament")
		.then(function(result) {
			console.log(result);
			let i = 0;
			let appendable = "";
			let thisAppendable = "";
			while(i < result.data.length) {
				let tData = result.data[i];
				
				//school approved table column colors
				let approvedColor = 'class = "pink"';
				console.log(tData);
				if (tData.schoolApproved) {
					approvedColor = ' class = "true"';
				}
				
				thisAppendable = '<tr>' +  '<td data-label="Name">' + tData.name + '</td>' + '<td data-label="School Approved"' + approvedColor + '>'  + '</td>' + '</tr>';
				appendable += thisAppendable;
				i++;
			}
			$(document).ready(function() {
				$('#tournamentTable tbody').append(appendable);
			});
		});
	
	}
		  
    </script>
</body>

</html>
